.main-color {
    color: rgb(159, 224, 203);
}

.main-bold-color {
    color: rgb(76, 236, 185);
}

.carousel-item img {
    max-height: 800px;
    object-fit: cover;
}

.f-icons {
    text-align: center;
}

.f-icons svg {
    color: rgb(159, 224, 203);

}

.f-links {
    text-decoration: none;
    color: rgb(159, 224, 203);
    font-weight: bold;
}

.div-border {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card {
    margin-bottom: 10px;
}

.card-body {
    flex: 1;
    overflow-y: auto;
}

.destination-container {
    position: relative;
    font-weight: bolder;
    /* color: white; */
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.tour-badge {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

}

.navbar-light .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%2833, 37, 41, 0.75%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e')
}

.navbar-light .navbar-toggler-icon .destiRow {
    max-height: 400px;
    object-fit: cover;
}

.dest-img {
    height: 250px;
    object-fit: cover;
}

.main-footer {
    font-size: 14px;
    background-color: #011431;
    color: white;
}

.main-footer span {
    font-weight: bold;
}

.footer-links li a {
    text-decoration: none;
    color: white;
}

.footer-container {
    background-color: #192b47;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 7px;
}

@media (max-width: 990px) {
    .destination-img {
        flex-wrap: wrap;
    }
}

@media (max-width : 790px) {
    .features {
        display: flex;
        justify-content: center;
    }

    .packages {
        display: flex;
        justify-content: center;
    }

    .guides {
        display: flex;
        justify-content: center;
    }
}