.main-container {
    width: 460px;
    margin-top: 10rem;
    padding: 1rem;
}

.registerLink {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.forgotPass {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 14px;

}