.loginLink {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.register-container {
    width: 400px;
    margin-top: 4rem;
    padding: 1rem
}

.resendOtp {
    text-decoration: none;
    margin-top: 5px;
}