.tour-image {
    height: 250px;
    width: 250px;
}

.tourList span {
    font-size: 13px
}

.tourImageContainer img {
    width: 100%;
}

.details-card {
    background-color: rgb(238, 235, 235) !important;
}